* {
    margin: 0;
    padding: 0;
    font-family: "inter", sans-serif;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-image: url('assets/images/bg-2-blur.webp');
  background-repeat: no-repeat;
  background-attachment: fixed; /* This keeps the background fixed while scrolling */
  background-size: cover;
  background-position: center center; /* Centers the background image */
}

section {
    font-family: "inter", sans-serif;
}

a {
    color: #fff;
}

.page-title {
    font-size: 3rem;
    text-shadow: 0px 0px 10px red;
    color: #ff2b06;
}

.teams-container {
    padding-top: 12vh;
    text-align: center;
    width: inherit;
}

.team-container {
    display: flex;
    margin-top: 6vh;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-container >h3{
    text-decoration: underline;
    font-size: 1.3rem;
}

.team-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}